{% extends 'base.html.twig' %}

{% block title %}Search!{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="wrapper">

    {{ form_start(searchForm, {attr: {class: 'search-form'} }) }}
    {{ form_widget(searchForm) }}
    {{ form_end(searchForm) }}

    <h1>Search results</h1>
    <div class="images">
        {% for image in images %}
            <div class="image-row">
                <div class="image">
                    <img src="{{ image.src }}">
                </div>
                <div class="image-data">
                    <div class="title">
                        Title: {{ image.title }}
                    </div>
                    <div class="size">
                        Size: {{ image.x }} x {{ image.y }} px
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
